*{
    padding: 0px;
    margin: 0px;
}
span{
    color: red;
}
.inpt input{
width: 60%;
}
.inpt textarea{
    width: 60%;
}
form input{
    margin-left: 5px;
    margin-right: 10px;
}
.dgre input{
margin-top: 5px;
}